/*
Description: Globe.CSS
Version: 0.5b
Author: Kareem Atif
Author URI: http://kareematif.me
Email: Kareematif@gmail.com | Twitter: @kareematif
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

BODY
---------------------*/
body {font-family:'Open Sans', sans-serif;font-size:14px;}
body.drawer-open {width:100%;overflow:hidden}
h1, h2, h3, h4, h5, h6, a, li:not(article), form *, .rtl .lang-item a,.result {font-family:'Oswald', sans-serif;}
h1 {font-size:32px;font-size:2em}
h2 {font-size:26px;font-size:1.625em}
h3 {font-size:21px;font-size:1.313em}
h4 {font-size:18px;font-size:1.125em}
h5 {font-size:16px;font-size:1em}
h6 {font-size:14px;font-size:0.875em}
p {margin:0 0 1.75em; line-height:1.6em;}
a {color:#000}
/* GRID
---------------------*/
.container {max-width:1140px;width:100%;margin:0 auto}
.row {width:100%;position:relative}
.row:after {content:"";display:table;clear:both}
[class^="col"], [class^="col-fifth"], [class^="col-third"] {float:left}
[class^="col-fifth"] {margin:0 2%}
.col1,.col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {width:96%}
.col-fifth-one, .col-fifth-two, .col-fifth-three, .col-fifth-four, .col-fifth-five {width:96%}
.col-fifth-one {display:none}

/* HEADER
---------------------*/
/*header {padding:1.5em 0}*/
header {height:30px;right:0;left:0;/*position:fixed;*/background:#fff;z-index:1000;}
header .logo {width:160px;float:left;margin:0 10px}
header.fixed {}
header.fixed .logo-square {display:none;}
header.fixed .logo-rect {display:block}
.logo-square {display: none}
.show-tools,.menu-wrap {float:right;}
.show-tools {margin:0 10px}
.show-tools [class^="show"] {display:inline-block;vertical-align:middle;height:30px;padding:0px 5px;text-align:center;}
.show-tools a {font-size:2.15em;line-height:1;font-weight:bold;display:inherit}
.show-menu {background:#fff;z-index:10}
.show-menu .icon {cursor:pointer;width:40px;height:30px;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out;}
.show-menu span {position:absolute;display: block;height: 6px;width: 100%;background: #000;opacity: 1;left: 0;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); -o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
.show-menu span:nth-child(1) {top: 0px;}
.show-menu span:nth-child(2) {top: 12px;}
.show-menu span:nth-child(3) {top: 24px;}
.show-menu.close-menu span{background:#fff}
.show-menu.close-menu span:nth-child(1) {top: 15px;-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-o-transform: rotate(135deg);transform: rotate(135deg);}
.show-menu.close-menu span:nth-child(2) {opacity: 0;left: -60px;}
.show-menu.close-menu span:nth-child(3) {top: 15px;-webkit-transform: rotate(-135deg);-moz-transform: rotate(-135deg);-o-transform: rotate(-135deg);transform: rotate(-135deg);}
.menu-wrap {display:none;}
header.fixed .menu-wrap {height:30px}
.menu-wrap ul {display:flex;justify-content:space-around;height:100%}
.menu-wrap li {margin:0 10px;background:no-repeat;background-size:cover;line-height:1.2}
.menu-wrap a {border:2px solid #000;font-weight:bold;display:flex;align-items:center;height:100%;width:100%;transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-webkit-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-moz-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.menu-wrap a:hover {background:#000;color:#fff}
#menu-drawer {display:none;}
#search-drawer{display:none;}
.drawer-container {z-index:9;position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;overflow:auto}
.drawer-container .header {background:#000;padding:1em 2em}
.drawer-container .body{}
.drawer-container .footer {padding:2em 4em}
.menu-list li {}
.menu-list a {border-bottom:10px solid #fff;color:#fff;padding:2em 4em;font-weight:bold;font-size:2em;display:block;height:250px;background:no-repeat;background-size:cover;background-position:center center;}
.menu-list span {background:#000;padding:0.25em 0.75em}
.menu-list li.planning a{background-image:url(../img/menu-bg-plan.jpg)}
.menu-list li.housing a{background-image:url(../img/menu-bg-hous.jpg)}
.menu-list li.facility a{background-image:url(../img/menu-bg-faci.jpg)}
.menu-list a:hover {background:#fff;color:#000;background-image:none!important;transition:all .4s linear;}
.menu-list a:hover span {background:transparent}
.menu-row {margin-bottom:1.25em}
.menu-row li {display: inline-block;margin:0 8px}
.menu-row a {font-weight:bold}
.menu-row .search {display:none}
.drawer-container .credit p {margin:0;font-size:0.75em}
.drawer-container form, .drawer-container .search-tools {float:left}
.drawer-container form .form-collect {display:none;}
.drawer-container form {width:90%;color:#fff}
.drawer-container input {font-size:2em;border-bottom:3px solid;color:#fff;transition:all 0.4s linear}
.drawer-container input:focus {border-color:#ffdc00} 
.drawer-container .search-tools {width:10%;font-size:2em;text-align:center}
.drawer-container .icon {color:#111}
.drawer-container .result {color:#fff}
/* CONTENT
---------------------*/
main {padding-top:185px;margin:2.143em 0}
.read-more a {position:relative;font-weight:bold;font-size:1em;padding:0 7px}
.read-more a:after {position:absolute;z-index:-1;top:45%;left:0;width:0;height:6px;content:"";transition:all .4s;transition-timing-function:cubic-bezier(0, 0.945, 0.555, 0.995)}
.read-more a:hover:after {width:100%;}
a:hover:after {background:#ffdc00}
.thumb a {display:block}
form input, form textarea {padding:.25em .5em;font-weight:bold;width:100%}
/* SIDEBAR
---------------------*/
.menu-side {font-weight:bold}
.menu-side a {position:relative;padding:0 7px}
.menu-side a:after {position:absolute;z-index:-1;top:45%;left:0;width:0;height:6px;content:"";transition:all .4s;transition-timing-function:cubic-bezier(0, 0.945, 0.555, 0.995)}
.menu-side a:hover:after {width:100%}
/* ARTICLE
---------------------*/
article .header, article .body, article .footer {margin-bottom:1.75em}
article p {color:rgba(0,0,0,0.8)}
.filter {display:flex;}
.filter li {width:20%;text-align:center;position:relative;margin: 10px;}
.filter a {display:block;border:1px solid #000;padding: 12px 0;position:relative;transition:color .4s;}
.filter .selected,.filter a:hover {color:#fff}
.filter a:before {content:"";transition:width .4s cubic-bezier(.8,0,.2,1);background:#000;position:absolute;top:0;left:0;width:0;height:100%;z-index:-1}
.filter .selected:before, .filter a:hover:before {width:100%}

/* ARTICLE - Featured
---------------------*/
.featured {position:relative}
.featured .title {position:absolute;z-index:100}
.featured .title span{background:#000;color:#fff;box-shadow:10px 0 0 0 #000, -10px 0 0 #000}
.featured .thumb {width:104%;margin:0 -2%;position:relative;}
.featured img {width:100%}
.featured .content {margin-top:2em}
.featured h2 {margin:0;position:absolute;bottom:0;left:16%}
.featured h2 a {background:#fff;color:#000;box-shadow:10px 0 0 0 #fff, -10px 0 0 #fff} 
.featured h2 a:hover {color:#fff;background:#000;box-shadow:10px 0 0 0 #000, -10px 0 0 #000}
.featured p:first-child {font-weight:bold;font-size:1.2em}
/* ARTICLE - Loos
---------------------*/
.grid {transition:all 0.6s}
.grid article {overflow:hidden;line-height:1.4;position:relative;text-align:center;width:100%;border:2px solid #fff}
.grid article:nth-child(even) {background:#ddd}
.grid article:nth-child(odd) {background:#aaa}
.grid .no-thumb {text-align:initial}
.grid .thumb {height:60%;overflow:hidden;}
.grid .external {display:table}
.grid .text {padding:1.429em 2.875em;height:calc(100% - 2.858em)}
.grid .has-thumb .text {height:40%;}
.grid .external .text {display:table-cell;vertical-align:middle;}
.grid img {width:100%}
.grid .icon {font-size:3.429em;}
.grid .no-thumb .icon {z-index:-2;color:#eee;font-size:17.143em;position:absolute;right:-15%;top:-5%}
.grid .entry {font-size:0.875em}
.grid .caution {background:#fff;padding:3px;box-shdow:5px 0 0 0 #fff, -5px 0 0 0 #fff;border:1px solid}
 
/* ARTICLE - Single
---------------------*/
/* FOOTER
---------------------*/
footer {background:#ddd}
footer .widget {padding:25px 35px}
footer .widget p {font-size:0.815em}
footer .col-third-one.widget {text-align:right;padding-left:20%}
footer .widget-wrap .widget:nth-of-type(1) {background:#ffdc00;}
footer .widget-wrap .widget{background:#eee}
footer .col-third-two.widget {background:#000;color:#fff;clear:both;float:inherit}
footer ul a{font-weight:bold}
footer li li a:hover {color:#888}
footer ul li{margin:5px 0}
footer ul ul {margin:10px 0}
footer ul ul a {font-weight:normal}
footer .logo-text {background:url(../img/10-logo.png);height:20px;width:80px;color:transparent;display:inline-block;background-size:cover;vertical-align:middle}
footer .logo-text:hover {-webkit-filter: invert(100%);}
footer .form-field {position:relative;margin-bottom:0.815em}
footer .form-field.action-field, footer .form-field.captcha-field {margin-bottom:0;display:inline-block}
footer .form-field.action-field input, footer .form-field.captcha-field input {width:auto;text-align:center}
footer .form-field.action-field {float:right}
footer input,footer textarea {background:#fff;color:#000;border-bottom:2px solid #fff;font-size:0.75em;transition:all .3s linear}
footer input:focus,footer textarea:focus {border-color:#000}
footer form .response-wrap div{margin:0;color:#ff4163;font-size:0.8em;border:1px solid}
footer form span.wpcf7-not-valid-tip {font-size:0.614em;color:#ff4163;font-weight:normal}
footer form .submit {background:#000;color:#fff;border:1px solid #000;cursor:pointer}
footer form .submit:focus, footer form .submit:hover {color:#000;background:#fff}
footer form .ajax-loader {display:none}
footer .credit a {color:#ddd;font-weight:bold}
.credit .icon,.credit p {display:inline-block;vertical-align:middle;margin:0 5px}
.credit .icon {font-size:2em}