/*
Description: Globe.CSS
Version: 0.5b
Author: Kareem Atif
Author URI: http://kareematif.me
Email: Kareematif@gmail.com | Twitter: @kareematif
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
---------------------------------------------------
BODY
---------------------*/
body {margin-top:45px;font-family:'Open Sans', sans-serif;font-size:14px;}
a {color:#000}
a:hover {}
h1, h2, h3, h4, h5, h6, li a, .read-more a,.filter li,.date p {font-family:'Oswald', sans-serif;}
h1 {font-size:32px;font-size:2em}
h2 {font-size:26px;font-size:1.625em}
h3 {font-size:21px;font-size:1.313em}
h4 {font-size:18px;font-size:1.125em}
h5 {font-size:16px;font-size:1em}
h6 {font-size:14px;font-size:0.875em}
p {margin:1em 0; line-height:1.6em;color:rgba(0,0,0,0.8)}

/* GENERAL
---------------------*/
.col12, .col11, .col10, .col9, .col8, .col7, .col6, .col5, .col4, .col3, .col2, .col1 {margin:0 1%;display:inline;float:left}
.con12 {width:100%}
.col12 {width:98%}
.col11 {width:89.666%}
.col10 {width:81.333%}
.col9 {width:73%}
.col8 {width:64.666%}
.col7 {width:56.333%}
.col6 {width:48%}
.col5 {width:39.666%}
.col4 {width:31.333%}
.col3 {width:23%}
.col2 {width:14.666%}
.col1 {width:6.333%}
.x11 {margin-left:91.666%}
.x10 {margin-left:83.333%}
.x9 {margin-left:75%}
.x8 {margin-left:66.666%}
.x7 {margin-left:58.333%}
.x6 {margin-left:50%}
.x5 {margin-left:41.666%}
.x4 {margin-left:33.333%}
.x3 {margin-left:25%}
.x2 {margin-left:16.666%}
.x1 {margin-left:8.333%}
.centered {margin:0 auto}
.text-center {text-align:center}
article {margin:1.6em 0}
main .header, main .body, main .footer {margin:0.85em 0}
article .header, article .body, article .footer {margin:1.75em 0}

/* Collected
---------------------*/
/* DISPLAY */
.menu-side li {display:block}
header .logo{display:inline-block}
.menu-wrap {display:none}
/* VERTICAL ALIGN */
.logo img{vertical-align:middle}
.sidebar {vertical-align:top}
/* BACKGROUND */
.menu-wrap .current-menu-item,.menu-wrap .current-menu-parent {background:#0e1419}
.menu-side a:after, .read-more a:after {background:#ffe300}
/* COLOR */
.menu-side a {color:#0e1419}
footer, .menu-wrap .current-menu-parent a,.menu-wrap .current-menu-item a,.credit a {color:#fff}
/* FONT-SIZE */
.menu-side ul {font-size:0}
/* FONT-WEIGHT */
.menu-side a,.credit p, .read-more{font-weight:bold}
.credit a {font-weight:normal}
/* POSITION */
.featured .title, .menu-side a:after,.read-more a:after,.show-menu span {position:absolute}
header, .featured,.featured img ,.menu-side a,.read-more a,.show-menu,.show-lang,article,.archive article.no-thumb span,.archive article.external .icon a {position:relative}
/* HEADER
---------------------*/
/*header {height:250px;}*/
.logo, .show-menu, .show-lang,.menu-wrap {margin:0 10px;}
header .logo {width:140px}
header .logo img {max-width:100%;height:auto}
.show-menu, .show-lang {float:right;}
.show-menu {background:#000;padding:52.5px 50px;}
.show-menu .icon {width: 40px;height: 35px;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out;}
.show-menu span{display: block;height: 5px;width: 100%;background: #fff;border-radius: 5px;opacity: 1;left: 0;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg); -o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
.show-menu span:nth-child(1) {top: 0px;}
.show-menu span:nth-child(2) {top: 15px;}
.show-menu span:nth-child(3) {top: 30px;}
.show-menu.close-menu-m span{background:#FF6D76}
.show-menu.close-menu-m span:nth-child(1) {top: 15px;-webkit-transform: rotate(135deg);-moz-transform: rotate(135deg);-o-transform: rotate(135deg);transform: rotate(135deg);}
.show-menu.close-menu-m span:nth-child(2) {opacity: 0;left: -60px;}
.show-menu.close-menu-m span:nth-child(3) {top: 15px;-webkit-transform: rotate(-135deg);-moz-transform: rotate(-135deg);-o-transform: rotate(-135deg);transform: rotate(-135deg);}
.show-lang {border:2px solid;padding:45.5px 43px;overflow:hidden;}
.show-lang .icon,.show-lang li {width: 50px;height:45px}
.show-lang p {font:bold 1.2em/1.4 'Droid Arabic Kufi', sans-serif;text-align:center;margin:0}
.show-lang li {position:absolute;/*display:block;*/display:none;left:-100%;line-height:0}
/*.show-lang:hover .icon {margin-right:-200px}
.show-lang:hover li {left:inherit}  */
.menu-wrap {float:right}
.menu-wrap ul {display:flex;justify-content:space-around;list-style:none}
.menu-wrap li {background-repeat:no-repeat;background-size:cover;width:100%;float:inherit;display:block;border:2px solid #000;transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-webkit-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);-moz-transition:all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);}
.menu-wrap a {display:flex;font-weight:bold;font-size:1.714em;line-height:1.2;max-width:150px}
.menu-wrap li:hover a {color:#fff}
.menu-wrap li:hover {background:#000}
/*.menu-wrap .current-menu-item.planning {background:#a8dba8}
.menu-wrap .current-menu-item.housing {background:#a8dba8}
.menu-wrap .current-menu-item.facility {background:#a8dba8}*/
/*.menu-wrap li.planning:hover, .menu-wrap .current-menu-item.planning {background-image:url(../img/menu-bg-plan.jpg)}
.menu-wrap li.housing:hover, .menu-wrap .current-menu-item.housing {background-image:url(../img/menu-bg-hous.jpg)}
.menu-wrap li.facility:hover, .menu-wrap .current-menu-item.facility {background-image:url(../img/menu-bg-faci.jpg)}
*/
/* CONTENT
---------------------*/
main {margin:2.143em 0}
.filter {display:flex;justify-content:space-around;list-style:none}
.filter li {display:block;float:left;border:1px solid #000;width:20%;margin:0 10px; text-align:center;padding:12px 0;cursor:pointer;font-weight:300;position:relative;transition:color .4s}
.filter li:before {content:"";transition:width .4s cubic-bezier(.8,0,.2,1);background:#000;position:absolute;top:0;left:0;width:0;height:100%;z-index:-1;}
.filter li:hover:before {width:100%;}
.filter li:hover {color:#fff}
.date p {display:inline-block;}
/* CONTENT - ARTICLE
---------------------*/
article h2 a:hover,article h3 a:hover,article h4 a:hover,article h5 a:hover,article h6 a:hover {color:#777}
.read-more a {font-size:1em;padding:0 7px}
.thumb a {display:inline-block}
/* CONTENT - ARTICLE / featured
---------------------*/
.featured .title {width:20%;left:10%;top:20%}
.featured img {z-index:-2;vertical-align:middle}
.featured span {background:#ffe300;line-height:1.6;box-shadow:10px 0 0 0 #ffe300, -10px 0 0 0 #ffe300;text-transform:uppercase}
.featured h2 {font-weight:normal}
.featured .img-border {border:2px solid #fff}
/*.featured .thumb {background:linear-gradient(-180deg, rgba(143, 143, 143, 0.168627), rgba(17, 17, 17, 0.701961))}*/
/*.featured .feature-img {padding:0 0 50% 0;display:block;background-size:cover}*/
/* CONTENT - ARTICLE / archive
---------------------*/
.archive .content.body article {margin:0}
.archive article {position:relative;text-align:center;width:100%;line-height:1.6em;overflow:hidden}
.archive article .text {padding:1.429em 2.857em;height:calc(100% - 2.858em)}
.archive article h3,.archive article h4,.archive article h5 {line-height:1.4}
.archive article .icon a {font-size:3.429em}
.archive article .entry {font-size:0.929em}
.archive article.has-thumb {/*border:10px solid*/}
.archive article.has-thumb .thumb {height:60%;overflow:hidden;position:relative}
.archive article.has-thumb .thumb:after {content: '';position:absolute;top:0;right:0;bottom:0;left:0;box-shadow:inset 0 0 0 0 rgba(255,243,0,1);transition: box-shadow .3s ease;}
.archive article.has-thumb .thumb:hover:after {box-shadow: inset 0 0 0 15px rgba(255,243,0,1);}
.archive article.has-thumb .text {height:calc(40% - 2.858em);background:#fff300;display:flex;flex-direction:column;justify-content:center}
.archive article.has-thumb .read-more a:after {background:#fff!important}
.archive article.no-thumb {text-align:initial}
.archive article.no-thumb .icon{position:absolute;top:-5%;right:-15px;font-size:17.143em;z-index:-1;color:#fff300}
.archive article.no-thumb h4{padding:0.5em 0 1.5em 0}
.archive article.no-thumb span {padding-bottom:1em}
.archive article.no-thumb span:after, .archive article.external .icon a:after {content:"";position:absolute;right:0;left:0;height:2px}
.archive article.no-thumb span:after{bottom:0;background:#111;}
.archive article.external {background:#000;display:table}
.archive article.external .text {display:table-cell;vertical-align:middle;}
.archive article.external h3 {margin:2em 0}
.archive article.external .icon a {padding-bottom:0.5em}
.archive article.external .icon a:after {bottom:0px;background:#fff;right:11px}
.archive article.external a {color:#fff}
.archive article .caution {background:#fff;padding:2px 3px;box-shadow:5px 0 0 0 #fff, -5px 0 0 0 #fff}


/* CONTENT - ARTICLE / single
---------------------*/
.single article .body {padding:0 8.333%;margin-top:16em}
.single article .thumb {width:65.868%}
.single article #toc_container {width:34.131%;margin-top:-16em}
.single article .header {padding:1.75em 2em;background:#003399;color:#00ffff;position:relative;}
.single article .text {margin-right:65%;}
.single article .thumb {position:absolute;right:10%;top:45%;width:50%;}
.single article .text a {color:#00ffff}
.single article .text a:hover {color:#fff}
.single .date {background:#fff;padding:2px 8px;} 
article table {margin:1.5em 0}
article thead {background:#000;color:#fff}
article td {border:1px solid;text-align:center}
article li {margin:0 0 0.75em 1.25em;padding:0 0 0 0.25em;line-height:1.6}
/* CONTENT - SIDEBAR
---------------------*/
.menu-side a {font-size:16px;line-height:2;padding:0 7px}
.menu-side a:after, .read-more a:after {z-index:-1;top:45%;left:0;width:0;height:6px;content:"";-webkit-transition: all 0.4s;-moz-transition: all 0.4s;-o-transition: all 0.4s;transition: all 0.4s;}
.menu-side a:hover:after, .read-more a:hover:after {width:100%} 
/* FOOTER
---------------------*/
footer {background:#252525;padding:50px 0;}
footer p {font-size:12px;color:#777}
footer p a:hover {text-decoration:underline}
