/*
Description: Responsive.CSS || Media queries
Version: 1.0b
Author: Kareem Atif
Author URI: http://kareematif.me
Email: Kareematif@gmail.com | Twitter: @kareematif
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
---------------------------------------------------*/
/* Shared - Above 768px width
---------------------------------------------------*/
@media only screen and (min-width:769px) {
body {font-size:100%}
h1 {font-size:36px;font-size:2.25rem}
h2 {font-size:32px;font-size:2rem}
h3 {font-size:28px;font-size:1.75rem}
h4 {font-size:24px;font-size:1.5rem}
h5 {font-size:20px;font-size:1.25rem}
h6 {font-size:18px;font-size:1.125rem}
/* GRID
---------------------*/
[class^="col-third"] {margin:0}
/* HEADER
---------------------*/
header {height:150px}
header .logo {width:150px;}
.logo-square {display:block}
.logo-rect {display:none;}
.show-tools [class^="show"] {height:150px;padding:60px 20px}
/*.show-menu {padding:55.5px 53px;border:2px solid #000;}
.show-menu .icon {width:40px;height:35px;}*/
.show-menu span {height:5px}
.show-menu span:nth-child(1) {top: 0px;}
.show-menu span:nth-child(2) {top: 15px;}
.show-menu span:nth-child(3) {top: 30px;}
.drawer-container .header {padding:2em 4em}
.drawer-container input,.drawer-container .search-tools {font-size:4em;}
/* CONTENT
---------------------*/
main {padding-top:185px;margin:1.875em 0}
.grid article {height:400px;width:50%}
.grid .no-thumb .icon {font-size:15em}

/* FOOTER
---------------------*/

footer .widget-wrap {display:flex}
footer .widget-wrap .widget {display:flex;align-items:center;width:50%}
/*footer .widget {display:inline-block}
footer .widget-wrap {display:inline-block}
footer .widget-wrap .widget {display:flex}*/
}
/* Min-Width = 1140px
---------------------------------------------------*/
@media only screen and (min-width:1140px){
/* GRID
---------------------*/
.container {width:1140px}
/*[class^="col"] {margin:0 10px}*/
.col1 {width:75px}
.col2 {width:170px}
.col3 {width:265px}
.col4 {width:360px}
.col5 {width:455px}
.col6 {width:550px}
.col7 {width:645px}
.col8 {width:740px}
.col9 {width:835px}
.col10 {width:930px}
.col11 {width:1025px}
.col12 {width:1120px}
.col-fifth-one {width:16%}
.col-fifth-two {width:36%}
.col-fifth-three {width:56%}
.col-fifth-four {width:76%}
.col-fifth-five {width:96%}
.col-third-one {width:33.333%}
.col-third-two {width:66.666%}
.col-third-three {width:100%}
.col-fifth-one {display:block}
.x1 {margin-left:16%}
.x2 {margin-left:36%}
.x3 {margin-left:56%}
.x4 {margin-left:76%}


/* HEADER
---------------------*/
header {height:190px!important;}
header .logo {width:190px!important;}
.show-tools{display:none}
.menu-wrap {display:block;width:930px;height:190px;font-size:1.5em;}
.menu-wrap a {padding:0 6em 0 1.4em;}
.menu-wrap li {width:33.333%}
#menu-drawer {display:none!important}
/* CONTENT
---------------------*/
main {padding-top:225px!important}
.grid article {width:33.333%!important}
/* FOOTER
---------------------*/
footer .col-third-two.widget {float:right}
.rtl footer .col-third-two.widget {float:left}
}
/* Max-Width = 768px
---------------------------------------------------*/
@media only screen and (max-width:768px){
/* GRID
---------------------*/


/* HEADER
---------------------*/

}
/* Max-Width = 479px
---------------------------------------------------*/
@media only screen and (max-width:480px){
/* GRID
---------------------*/


}


