/*
Description: RTL.CSS
Version: 0.5b
Author: Kareem Atif
Author URI: http://kareematif.me
Email: Kareematif@gmail.com | Twitter: @kareematif
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
---------------------------------------------------

  BODY
---------------------*/
body.rtl {direction:rtl;font-family:'JF Flat Regular', Arial, sans-serif;}
.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6, .rtl li a,.rtl .read-more a,.rtl .filter li,.rtl .date p {font-family:'Droid Arabic Kufi', sans-serif;}
.rtl p {font-family:"JF Flat Regular", Arial;line-height:1.8em}

/* GENERAL
---------------------*/
.rtl .col12, .rtl .col11, .rtl .col10, .rtl .col9, .rtl .col8, .rtl .col7, .rtl .col6, .rtl .col5, .rtl .col4, .rtl .col3, .rtl .col2,.rtl .col1 {float:right}  
.rtl .x11 {margin-right:1045px;margin-left:0}
.rtl .x10 {margin-right:950px}
.rtl .x9 {margin-right:855px}
.rtl .x8 {margin-right:760px}
.rtl .x7 {margin-right:665px}
.rtl .x6 {margin-right:570px}
.rtl .x5 {margin-right:455px}
.rtl .x4 {margin-right:380px}
.rtl .x3 {margin-right:285px}
.rtl .x2 {margin-right:190px}
.rtl .x1 {margin-right:95px}
.rtl .x1,.rtl .x2,.rtl .x3,.rtl .x4,.rtl .x5,.rtl .x6,.rtl .x7,.rtl .x8,.rtl .x9,.rtl .x10,.rtl .x11 {margin-left:0}
/* HEADER
---------------------*/
/*.rtl header ul {margin:0 15px 0 0;}*/
.rtl .show-menu,.rtl .show-lang {float:left;}
.rtl .menu-wrap {float:left} 
.rtl .menu-wrap li {float:right} 
.rtl .menu-wrap a {padding: 41px 50px}
.rtl .show-lang p {font:bold 1.4em/1 'Oswald', Arial}
/* SIDEBAR
---------------------*/
.rtl .menu-side a:after, .rtl .read-more a:after {right:0;left:inherit} 
/* CONTENT
---------------------*/
.rtl .filter li {float:right}
.rtl .filter li:before {right:0;left:inherit}
/* CONTENT - ARTICLE / featured
---------------------*/
.rtl .featured .title {right:10%;left:inherit}
.rtl .featured span {line-height:2}
/* CONTENT - ARTICLE / archive
---------------------*/
.rtl.archive article {float:right}
.rtl.archive article.no-thumb .icon {left:-10%;right:inherit}
/* CONTENT - ARTICLE / single
---------------------*/
.rtl article li {margin:0 1.25em 0.75em 0;padding:0 0.25em 0 0; line-height:1.8}