/*
Description: RTL.CSS
Version: 0.5b
Author: Kareem Atif
Author URI: http://kareematif.me
Email: Kareematif@gmail.com | Twitter: @kareematif
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

  BODY
---------------------*/
body.rtl {direction:rtl;font-family:'JF Flat Regular', Arial, sans-serif;}
.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6, .rtl a, .rtl li:not(article),.rtl form *, .date p{font-family:'Droid Arabic Kufi', sans-serif;}
.rtl p {line-height:1.8}
/* GRID
---------------------*/
.rtl [class^="col"], .rtl [class^="col-fifth"], .rtl [class^="col-third"] {float:right}
.rtl .x1 {margin-right:16%;margin-left:0}
.rtl .x2 {margin-right:36%;margin-left:0}
.rtl .x3 {margin-right:56%;margin-left:0}
.rtl .x4 {margin-right:76%;margin-left:0}
/* HEADER
---------------------*/
.rtl .logo {float:right}
.rtl .menu-wrap, .rtl .show-tools {float:left}
.rtl .menu-wrap a {padding:0 1.4em 0 6em;}
.rtl .drawer-container form,.rtl .drawer-container .search-tools {float:right}
/* CONTENT
---------------------*/
.rtl a:after {right:0;left:inherit;}
.rtl .featured h2 {right:16%;left:inherit}
.rtl .filter a:before {right:0;left:inherit}
.rtl .grid article {float:right}
.rtl .grid .no-thumb .icon {left:-15%;right:inherit;} 
/* FOOTER
---------------------*/

.rtl .col-third-one.widget  {text-align:left;padding-right:20%;padding-left:35px}
.rtl .logo-text {background-position:0 22px;}
.rtl .form-field.action-field {float:left}
.rtl .menu-bottom {font-size:0.875em}
